src/results/*.fsp
*~
*.o
callgrind.out.*
*.dat
*.dot
*.svg
*.rep
*.pdf
main
lex.yy.c
*.aux
*.log
*gz
*.zip
y.tab.c
y.output
y.tab.h
*cachegrind.out*
*.html
*.out
*.soc
.cproject
.project
.settings/
*.~*
*.ps
*.dvi
*.bbl
*.blg
.Rhistory
cltsa
